

body {
  font-family: Ubuntu;
  color: #445243; /* 445243 black-green*/
  color: #445243; /* 445243 black-green*/
  background-color: #f2e198;
  background-image: linear-gradient(#fdfbbf, #f2e198);
  background-image: url('./montanias_sim.svg');
  background-image: url('./montanias_sim.svg'), linear-gradient(#fdfbbf, #f2e198); 
  background-repeat: repeat-x;
  background-position: bottom left;
  background-attachment: fixed;
  /* z-index: -1; */
  margin:0;
}


.App {
  text-align: center;
  height: 94vh; /* Trick to avoid scroll bar on home */
  
}

.App  h1{
   /* color: #83b582; /* 83b582 - Strong green */ 
   color: #445243; /* 445243 black-green*/
}


/* Center tables by default */
table{
  margin: auto;
  
}

table.firstRight tbody {
  text-align: left;
}

/* Align first row to right */
table.firstRight td:nth-child(1) {
  text-align: right;
}

tr {
  padding: .5em;
  
}

tr.v-center {
  vertical-align: middle;
}


.login-box {
   
   background-color: white; /* white */
   width: 80vw;
   margin: auto;
   border-radius: 2px;
   margin-top: 5vh;
   padding: 5vw;
   vertical-align: center;
   
   
}

.login-box  p{
   text-align: left;
   margin: .3em;
   /* margin-left: 5%; */
}

.login-box  input{
  position: relative; 
  width: 70vw;
  margin: .5em auto;
  padding: 1em;
  border: 1px solid #83b582; /* 83b582 - Strong green */
  border-radius: .2em;

}


/* ===== New checkbox =====*/

/* Container */
.simplecheck {
    cursor: pointer;
    font-size: 1em;
}

/* checkbox input inside an element with class simplecheck */
.simplecheck input[type="checkbox"]  {
    display: none; /* Hide standard checkbox */
}

/* Grey/blue rounded box */
.box {
  display: inline-block;
  width: 2em; /* 2x1 and rounded */
  height: 1em;
  border-radius: 1em; /* Max - a bit more for the border */
  border: 1px solid; 
  border-color: gray; /* grey - disabled */
  background-color: gray; /* grey - disabled */
  margin-right: .8em; /* space to label */
}

/* White ball */
.ball {
  width: 1em;
  height: 1em;
  border-radius: .5em;  /* circle */
  background-color: white;
  position: relative;
  display: block;
  margin: 0;
}

/* Box which is sibling to a checked input */
input:checked   ~ .box{
  border-color: #2196f3; /* #2196f3 is blue */
  background-color: #2196f3; /* #2196f3 is blue */
}

/* ball which is inside a box sibling to a checked input */
input:checked   ~ .box .ball {
  left: 1em; /* move the ball right */
}


/* ==== Custom button ==== */

.calendar-box {
  width: 30vw;
  /* height: 6em; */ /* Auto fit content*/
  margin: .7em;
  color: white;
  display: inline-block;
  background-color: #d6e4aa; /* d6e4aa - Light green */
  border: 1px solid #d6e4aa; /* d6e4aa - Light green */
  border-radius: 1em;
  cursor: pointer;
  text-decoration: none; /* remove underline for links */
  padding: 1em;
}

.calendar-box p{
  margin: .8em;
  /* line-height:1.5em;  */
}
.calendar-active {
  background-color: #83b582; /* 83b582 - Strong green */
  border: 1px solid #83b582; /* 83b582 - Strong green */
}

.white-container {
  
  background-color:white;
  width: 95vw;
  margin: auto;
  margin-bottom: 1em;
  border-radius:1em;
  padding-bottom:1em;
  
  
}

.Calendar table { /* Tables inside .Calendar div */
  /* max-width: 95vw; */
  margin: auto;
  border-collapse: collapse;
  width: 95%; /* of parent container*/
  table-layout: fixed;
  
}

/* Make sure col with hours do not overflow */
.Calendar .hour-col {
  min-width: 3em;
}

.Calendar td {
  text-align: center;
  border: 1px solid black;
  cursor: pointer;

}

.Calendar .shift {
  position:relative;
  color: white;
  background-color: #83b582; /* 83b582 - Strong green */
  border: 3px solid black;
  padding: 1px;
  height: 80px;
}

/* Link inside a shift td */
.shift a { 
   display: block; height: 100%; width:100%;
  /* height: 100%; /* Fit parent td */
}

/* Change background of commited shift */
.Calendar .commited {
  color: white; 
  background-color: #2196f3; /* #2196f3 is blue */  
}

.shift-cmt-icon {
  cursor: auto;
  display: inline-block;
  position:absolute;
  margin-top:1em;
  margin-bottom:0;
  bottom: 1px;
  right: 1px;
}


/* modal */
.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
/* Not so big in desktop */
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* Black with transparency */
  background-color: rgba(0, 0, 0, 0.5); 

}

/* Basic styles */
button {
  cursor: pointer;
}

/* lists */
ul {
  list-style-type: none;
  padding: 0;
  /* border: 1px solid #ddd; */
}

ul li {
  /* cursor: pointer; */
  padding: .5em 2em; /* top-bottom / sides */
  border-top: 1px solid #ddd;

}

ul li:last-child {
  border-bottom: 1px solid #ddd;
}


/* ==== Position ==== */
.topleft {
  position:absolute;
  left: 1.5em;
  top: 1.5em;
  
}

.topright {
  position:absolute;
  top: 1.5em;
  right: 1.5em;
  
}


.dashboard-box {
  
  display: inline-block;
  width: 60vw; /* + padding */
  
  padding: 2em 1em; /* Vert Horiz*/
  
  cursor: pointer;
  text-decoration: none; /* remove underline for links */
  
  /* text-align: center; */
  margin: auto; /* Center */
  /* text-style: 2em center white; */
  font: bold 1.2em serif;
  
  border-radius: 1em;
  
  
}


.mylink {
  
  cursor: pointer;
  text-decoration: none; /* remove underline for links */
  color:white;
}

/* ==== Custom button(s)==== */
.mybtn {
  
  display: inline-block;
  
  cursor: pointer;
  text-decoration: none; /* remove underline for links */
  padding: 1em;
  /* margin: 1em; */
  font: bold 1em Ubuntu;
  border-radius: .5em;
  
}

/* Wide button */
.mybtn-wide  {
  width: 70vw;  /* + padding */
  padding: .75em;
  font-size: 1.5em;
  margin: .5em auto;
  /* so they can pile */
}

/* Circular icon */
.mybtn-circle {
  width: 2em;
  height:2em;
  line-height:2em; /* Same as height to center vertically */
  border-radius:1em;
  margin:0;
  padding:0;
}

.dark-icon {
  color: #445243; /* 445243 black-green*/
} 

.green {
  background-color: #83b582; /* 83b582 - Strong green */
  border-color: #83b582; /* 83b582 - Strong green */
  color: white;
  
  
}

.red {
  background-color: #d9534f; /* #d9534f - danger red */
  border-color: #d43f3a;
  color: white;
}

.blue{
  border-color: #2196f3; /* #2196f3 is blue */
  background-color: #2196f3; /* #2196f3 is blue */
  color: white;
}


/* Disabled - takes preference over colours */
.disabled {
  cursor: not-allowed;
  /* pointer-events: none; */
  opacity: 0.5;
  /* No background color will respect what's behind */
  /* background: #ccc; *//* #ccc - Light grey */ 
}




input[type=number]{
  width: 4em;  
  text-align: center;  
}
input [type=text]{
  width: 10em;
}

/* Style select */
.select-css {
	/* display: block; */
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 72vw;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}